@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

/* Header */

header {
    border: 0px solid red;
    background-color: #121212;
    color: white;
    min-height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 50px;
}

nav ul li a {
    border: 0px solid yellow;
    border-radius: 1cm;
    text-decoration: none;
    color: white;
    font-size: large;          
    font-weight: bold;
    padding: 15px;
}

nav ul li a:hover{
    border-radius: 1cm;
    background-color: #1A1A1A;
}

/* Cuerpo */

.caja-principal {

    border: 0px solid pink;
    background-color: black;
    color: white;
    min-height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    gap: 10px;

}

.caja-vertical {
    border: 0px solid yellow;
    border-radius: 2px;
    background-color: #1A1A1A;
    height: 350px;
    width: 350px;
    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 30px;
}

.caja-vertical:hover{
    background-color: #F5C532;
    color: black;
   }

.caja-atributos{
    border: 0px solid salmon;
    height: 60%;
    width: 100%;
}

.caja-imagen{
    border: 0px solid blue;
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.caja-imagen img{
    height: 100%;
    width: auto;
}

/* Ajustes de espacio */

.espacio10 {margin-bottom: 10px;}

/* Responsive */

@media screen and (max-width:829px){
    header {justify-content: center;
            gap: 5px;}

    nav ul {gap:0px;}
}

