@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Bebas", sans-serif;
}

.barra {
    border:0px solid;
    width: 100%;
    height: 5vh;
    display: flex;
    flex-direction: row;
}

.boton {
    border:0px solid;
    text-decoration: none;
    color: white;
    background-color: black;
    height: 100%;
    width: 100%;
    text-align: center;
    padding: 12px;
}

section{
    border:5px solid yellow;
    display: flex;
    flex-direction: row;
}

img{
    border:6px solid red;
   
}